body {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.topnav {
  font-family: Arial, sans-serif;
  font-size: 24px;
  background: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 15px; /* Remove vertical padding */
  height: 60px; /* Consistent header height */
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.topnav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  display: inline-block;
}

a {
    color:white;
}

.toplogo {
    text-align: left;
    vertical-align: baseline;
}

.grid-container {
 margin-top: 50px;
  display: grid; /* Declares the element as a grid container */
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  grid-template-rows: repeat(5, 1fr); /* Creates 3 equal-height rows */
  gap: 10px; /* Adds a 10px gap between grid items */
  width: 100%; /* Ensures the grid takes up full width of its parent */
  border: 1px solid #ccc; /* Optional: Adds a border to the container */
  padding-left: 25px;
  padding-right: 25px;
}

.grid-item {
  padding: 20px;
  text-align: center;
  border: 1px solid #999;
}
